<div class="products products-secondbox">
  <h5><span>Album Nghe Nhiều Nhất</span> </h5>
  <div class="section group">
    <div class="grid_1_of_5 images_1_of_5">
      <img src="../../../assets/other_image/a9.jpg">
      <h3>Lorem Ipsum is simply </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><span>$600.00</span>$512.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
    <div class="grid_1_of_5 images_1_of_5">
      <img src="../../../assets/other_image/a10.jpg">
      <h3>Lorem Ipsum is simply </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><span>$400.00</span>$352.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
    <div class="grid_1_of_5 images_1_of_5">
      <img src="../../../assets/other_image/a11.jpg">
      <h3>Lorem Ipsum is simply </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><span>$300.00</span>$202.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
    <div class="grid_1_of_5 images_1_of_5">
      <img src="../../../assets/other_image/a12.jpg">
      <h3>Lorem Ipsum is simply </h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><span>$400.00</span>$322.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
    <div class="grid_1_of_5 images_1_of_5">
      <img src="../../../assets/other_image/a1.jpg">
      <h3>Lorem Ipsum is simply</h3>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, in reprehenderit.</p>
      <h4><span>$700.00</span>$602.00</h4>
      <div class="button"><span><a href="singlepage.html">Read More</a></span></div>
    </div>
    <a class="button1" href="#">View all</a>
    <div class="clear"> </div>
  </div>
</div>
