<div class="image-slider">
  <!-- Slideshow 1 -->
  <ul class="rslides rslides1" id="slider1" style="max-width: 1600px;">
    <li id="rslides1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 600ms ease-in-out 0s;"><img src="../../../assets/other_image/slider1.jpg" alt=""></li>
    <li id="rslides1_s1" class="rslides1_on" style="float: left; position: relative; opacity: 1; z-index: 2; display: list-item; transition: opacity 600ms ease-in-out 0s;"><img src="../../../assets/other_image/slider3.jpg" alt=""></li>
    <li id="rslides1_s2" class="" style="float: none; position: absolute; opacity: 0; z-index: 1; display: list-item; transition: opacity 600ms ease-in-out 0s;"><img src="../../../assets/other_image/slider1.jpg" alt=""></li>
  </ul>
  <!-- Slideshow 2 -->
</div>
